.chessboard {
    display: grid;
    // grid-template-columns: repeat(10, 1fr);
    // grid-template-rows: repeat(10, 1fr);
    padding: 2px;
    gap: 1px;
    background-color: #ccc;
}

.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
